<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{>header}}
  <main>
    <p class="about">Hello, my name is {{name}}, I am {{age}} years old</p>
    <img class="portrait" src="/img/ik.jpg">
  </main>
  {{>footer}}
</body>

</html>