<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{>header}}
  <main>
    <p class="error">{{errorMessage}}</p>
  </main>
  {{>footer}}
</body>

</html>