<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p class="help">It is your question: {{question}}, this is our answer: {{answer}}</p>
    <img src="/img/kuk.png">
  </div>
  {{>footer}}
</body>

</html>