<!DOCTYPE html>
<html>

<head>
  <title>Weather in your place</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p class="weather">Your address: {{address}}</p>
  </div>
  {{>footer}}
</body>

</html>