<header class="header">
  <h1 class="title">{{title}}</h1>
  <a href="/">About app</a>
  <a href="/weather">Weather in your place</a>
  <a href="/about">About me</a>
  <a href="/help">Help</a>
</header>