@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900&display=swap');

* {box-sizing: border-box;}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 504px;
  margin: 0 auto;
  font-family: Roboto;
  color: #333;
}
.header {
  height: 120px;
}
a {
  display: inline-block;
  width: 90px;
  height: 24px;
  margin-right: 8px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: #f6926b;
  line-height: 24px;
  text-shadow: none;
}
.header,
.footer {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
  background-color: #fbc3ac;
  color: white;
  text-shadow: 0 0 4px #f6926b;
}
main {
  flex-grow: 1;
  min-height: 360px;
  width: 100%;
  background-color: #e3eedf;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

}
.footer {
  height: 48px;
}
.title {
  font-size: 64px;
}
.about + img {
  width: 240px;
  margin: 8px;
}
#message-1,
#message-2,
.about,
.help {
  margin: 8px;
  color: #507f3d;
}
.root {
  padding: 8px;
  color: #507f3d;
}
.input,
.button {
  display: block;
  border: none;
  height: 36px;
  margin-left: 8px;
  padding: 8px;
  font-family: Roboto;
}
.input {
  width: 360px;
  font-size: 16px;
  color: #507f3d;
  box-shadow: 0 0 4px #c4ddbb;
}
.button {
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #f6926b;
  text-shadow: 0 0 4px #f6faf5;
}
.input:focus-visible {
  outline: none;
}
input::-webkit-input-placeholder { color: #93cc7c; }